.startpageContainer {
    text-align: center;
    h1 {
        font-size: 2em;
    }
}

.animalPageContainer {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    align-items:stretch;
    justify-content: center;
    row-gap: 2em;
    gap:1em;
    margin: auto;
    padding: 0 0 1.5em 0;
}


.animalContainer {
   width: 30%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
    gap: 1em;
    padding: 1em;
    border:1px solid #d48581;
    background-color: #faf0f0;

   img {
    max-width: 90%;
    max-height: 300px;
   }

   .animalSmallTextContent {
    width: 90%;
    text-align: center;
    #nameContainer {
        font-weight: 600;
        p {
            margin: 0 0 1% 0;
        }
        .latin {
            font-weight: 400;
            font-style: italic;
        }
    }
    #smallDescription {
        text-align: left;
    }
   }

   .notHungry {
    color: green;
    font-size: 1.1em;
   }

   .hungry {
    color: red;
    font-size: 1.1em;
   }
}